:root {
  --primary: cadetBlue;
  --light: white;
  --grey: grey;
}

body {
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover {
  text-decoration: none !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}
